<h2 id="title">Welcome to Ember</h2>
<div id="in-element-destination" style="padding: 10px; border: 2px dashed red;"></div>
<br>
<br>
<div id="in-element-destination2" style="padding: 10px; border: 2px dashed green;"></div>
<br>
<br>
<br>
<br>
<ComponentUsingMaybeInElement/>
